ul.pagination {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

ul.pagination li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul.pagination li a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007BFF;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #DEE2E6;
    text-decoration: none;
}

ul.pagination li a:hover {
    background-color: #E6E6E6;
}

ul.pagination li.active a,
ul.pagination li.active a:hover {
    z-index: 1;
    color: #FFF;
    background-color: #007BFF;
    border-color: #007BFF;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    background-color: rgba(255, 255, 255, 0.75);
    border-color: #DDD;
    cursor: not-allowed;
}